.content {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-areas:
      "top-left top-right"
      "mid-left ."
      "bottom bottom";
  margin-left: 1em;
  margin-right: 1em;
}

#canvas {
  display: inline-block;
  border-radius: 4px;
}

.top-left {
  grid-area: top-left;
}

.top-right {
  grid-area: top-right;
}

.mid-left {
  grid-area: mid-left;
}

.bottom {
  grid-area: bottom;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  text-align:center;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
  width: 125px;
  height: 125px;
  text-align: center;
}

table, td {
  border: 1px solid rgb(200,200,200);
}

textarea {
  border: 2px solid red;
  border-radius: 4px;
  padding: 4px 4px 4px 8px;
  font-family: 'VT323', monospace;
  font-size: 24px;
  background-color: rgb(20, 20, 20);
  caret-color: red;
  color: rgb(200,200,200);
  height: 488px; /* canvas height - border*2 - padding*2 */
  overflow-y: auto;
}

#readme {
  font-family: 'VT323', monospace;
  font-size: 24px;
}

.button {
  font-size: 24px;
  font-family: 'VT323', monospace;
  background-color: black;
  color: white;
  border: 2px solid red;
  border-radius: 4px;
}

.button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

body {
  background-color: rgb(20, 20, 20);
  color: rgb(200,200,200);
  min-height: 100vh;
}
